<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../views/index.css">
    <title>NodeJS App HomePage</title>
</head>

<body>
    <style>
        *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

.nav{
    display: flex;
    background-color: blue;
    padding: 2%;
    color:white;
}
.nav h1{
    flex: 10;
}
.nav a{
    padding: 1%;
    color:white;
    text-decoration: none;
}
.content {
    text-align: center;
    height: 90%;
}
.content h1 {
    position: relative;
    top: 50%;
}
.content p {
    position: relative;
    top: 50%;
}
    </style>
    <div class='nav'>
        <h1>NodeJS </h1>
        <a href="/">Home</a>
        <a href="/Product">Product</a>
        <a href="/Contact">Contact</a>
    </div>
</body>

</body>

</html>